
html, body {
    height: 100%;
    background-color: #808080;
    opacity: 1;
}

body, h1, h3, input {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
}

h1, h3 {
    padding: 12px 0;
    font-weight: 600;
    color: #121212;
}

h1 {
    font-size: 28px;
}

.space {
    margin-right: 15px
}

.main-block, .info {
    display: flex;
    flex-direction: column;
}

.main-block {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background: url("/uploads/media/default/0001/01/49bff73f282c2c21f3341f1fe457fe35337b1792.jpeg") no-repeat center;
    background-size: cover;
}

.checkButton:hover{
    background-color:black;
}

form {
    width: 86%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 15px -5px 20px #000000;
    background: #ebebeb;
}

.title {
    color: black;
    text-shadow: 10px 5px 8px #160101;
    font-size: 40px;
    font-weight: 400;
    opacity: .8;
}

.info-item {
    width: 100%;
}

input {
    width: calc(100% - 57px);
    height: 36px;
    padding-left: 10px;
    margin: 0 0 12px -5px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    background: #fff;
}

.icon {
    padding: 9px 15px;
    margin-top: -1px;
    border-radius: 5px 0 0 5px;
    border: solid 0px #cbc9c9;
    background: #666;
    color: #fff;
}

input[type=radio] {
    display: none;
}

label.radio {
    position: relative;
    display: inline-block;
    text-indent: 32px;
}

    label.radio:before {
        content: "";
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 0.5px solid #8ebf42;
        background: #fff;
    }

    label.radio:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 4px;
        top: 5px;
        left: 4px;
        border-bottom: 3px solid #8ebf42;
        border-left: 3px solid #8ebf42;
        transform: rotate(-45deg);
        opacity: 0;
    }

input[type=radio]:checked + label:after {
    opacity: 1;
}

textarea {
    width: 99%;
    margin-bottom: 12px;
}

button {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: #8ebf42;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

    button:hover {
        background: #82b534;
    }

.grade-type div {
    display: flex;
    margin: 6px 0;
}

@media (min-width: 568px) {
    .info {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .info-item {
        width: 30%;
    }
}

table, th, td {
    border: 1px solid;
    font-size: medium;
    font-style: initial;
    font-weight: 900;
}

.topSpace {
    margin-top: 10px;
}

.bold {
    font-weight: bold;
}
